html {
    box-sizing: border-box;
    height: 100%;
}
  
*,
*:after,
*:before {
   box-sizing: inherit;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
  
img {
   max-width: 100%;
}
  
.centrado {
  text-align: center;
}
  
.oculto {
  display: none;
}
 //
.pagina {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.header{
    display: flex;
    .nombre-sitio{
        flex:  0 0 5rem;
        @include desktop{
            flex: 0 0 20rem;
        }
        background-color: $grisFuerte;
        padding: 1rem;
        display: flex;
        align-items: center;
        h1{
            color: $blanco;
            margin: 0;
        }
        .escritorio{
            display: none;
            @include desktop{
                display: block;
            }

        }
        .movil{
            @include desktop{
                display: none;
            }
        }
    }
}

.barra{
    display: flex;
    justify-content: space-between;
    background-color: $primario;
    flex: 1;

    .menu-izquierdo{
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    .menu-derecho{
        display: flex;
        .caja{
            padding: 0 1.2rem;
            display: flex;
            align-items: center;

            &:hover{
                background-color: $grisMedio;
            }
            a{
                color: $blanco;
                text-decoration: none;
                text-transform: uppercase;
                
                span{
                    background-color: $grisSuave;
                    color: $grisFuerte;
                    border-radius: 10px;
                    padding: .2rem;
                    margin-left: .5rem;
                } 
            }
        }
    }
}

.sidebar{
    background-color: $grisMedio;
    flex:  0 0 20rem;
    padding: 1rem;
    justify-content: space-around;
    color: $blanco;
    font-weight: bold;
    .usuario{
        display: flex;
        align-items: center;
        span{
            font-weight: normal;
            font-style: italic;
            display: block;
            margin-left: 2rem;
        }
    }

    .buscador{
        margin-top: 1rem ;
        input[type="text"]{
            width: 100%;
            height: 2.5rem;
            border: none;
            padding-left: 1rem;
        }
    }
}

.contenedor-ppal{
      flex: 1;
      display: flex;

}